<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card" style="width: 18rem;">
        <img height="280px"  [src]="contact.photo"  alt="...">
        
        <div class="card-body">
          <h5 class="card-title">{{contact.name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Contact Id: {{contact.id}}</li>
          <li class="list-group-item">Mobile: {{contact.mobile}}</li>
          <li class="list-group-item">Email: {{contact.email}}</li>
          <li class="list-group-item">Company: {{contact.company}}</li>
          <li class="list-group-item">Title: {{contact.title}}</li>
          <li class="list-group-item">Group: {{group}}</li>
        </ul>
    </div>
</div>

